.dialog-confirm-delete {
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  width: 420px;
  height: 187px;
}

.row {
  margin: 0px 15px;
}
.modal-dialog-confirm .row {
  margin: 0px;
}
.btn-md {
  width: 105px;
  height: 32px;
  left: 726px;
  top: 774px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border: none;
}
.btn-gray {
  background: #e6e8f0;
  margin-right: 10px;
  color: #696f8c;
}
.btn-or {
  background: #f26522;
}
.modal-footer {
  display: flex;
  justify-content: center;
}
.modal-title {
  align-items: center;
  text-align: center;
  //text-transform: uppercase;
  font-size: 18px;
  font-weight: 600 !important;
  width: 100%;
}
.des {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #8f95b2;
  margin-top: 10px;
}

.modal-dialog-confirm .title-list-file {
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  p {
    font-weight: 600;
    font-size: 14px;
    color: #474d66;
    margin-bottom: 0px;
  }
  a {
    font-weight: 600;
    font-size: 12px;
    color: #3366ff;
    margin-left: 5px;
  }
  div {
    display: flex;
    align-items: center;
  }
}
angular-file-uploader,
#div1 {
  width: 100%;
}

.modal-msg {
  display: block;
  text-align: center; /* bg */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #8f95b2;
  margin-bottom: 24px;
}
