<!-- <div class="modal-dialog-custom modal-custom-action" >
    <div class="modal-header">
      <h4
        class="modal-title"
        style="text-align: center; color: #101840 !important;"
        *ngIf="isCreateNew"
      >
       Thêm mới danh mục sản phẩm
      </h4>
      <h4
        class="modal-title"
        style="text-align: center; color: #101840 !important;"
        *ngIf="!isCreateNew"
      >
     Cập nhật danh mục sản phẩm
      </h4>

    </div>
    <div class="modal-body" style="padding: 15px 10px !important">
      <div class="row">
        <input type="hidden" formControlName="id" *ngIf="!isCreateNew"/>
        <div class="col-md-6">
          <label for="">Mã danh mục<span>*</span></label>
          <input #focusInput
          style="font-size: 12px;"
            type="text"
            formControlName="code"
            placeholder="Mã danh mục"
            [readonly]="!isCreateNew"
            [(ngModel)]="code.value"
          />
          <small class="error-validate" style="color: red" *ngIf="code.error">
            {{ code.message }}
          </small>
        </div>
        <div class="col-md-6">
          <label for="">Tên danh mục <span>*</span></label>
          <input style="font-size: 12px!important;"
          type="text"
          placeholder="Tên danh mục"
            [(ngModel)]="name.value"
            formControlName="name" />
          <small class="error-validate" style="color: red" *ngIf="name.error">
            {{name.message}}
          </small>
        </div>
        <div class="col-md-6">
          <label for="">Danh mục cha </label>
          <ng-select style="font-size: 12px!important;"
            placeholder="Danh mục cha"
              [(ngModel)]="parentId.value"
              [items]="listCatalogs"
              bindLabel="name" bindValue="code"
              formControlName="documentType"
              [searchable]="true"
              [clearable]="true">
              <ng-template ng-option-tmp let-item="item">
                <div [matTooltip]="item.name">{{item.name}}</div>
              </ng-template>
            </ng-select>
            <small class="error-validate" style="color: red" *ngIf="parentId.error">
              {{parentId.message}}
            </small>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-action">
        <button type="button" class="btn-md btn-gray">
         Hủy bỏ
        </button>
        <button
          type="button"
          class="btn-md btn-or"
          *ngIf="isCreateNew"
        >
        Thêm mới
        </button>
        <button
          type="button"
          class="btn-md btn-or"
          *ngIf="!isCreateNew"
        >
        Cập nhật
        </button>
      </div>
    </div>
  </div>
  <div class="page-loading-class" style="z-index: 99999;" *ngIf="hide===false">
    <div class="bee-spinner-sc"></div>
  </div> -->