<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="account">
        Chỉnh sửa tài khoản [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Lưu thông tin thành công!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate>
        <div class="form-group">
          <label class="form-control-label" for="firstName">Họ và tên</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Họ và tên"
            formControlName="firstName"
            data-cy="firstname"
          />

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required"> Họ và tên là bắt buộc </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength">
              Họ và tên phải ít nhất 1 ký tự
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
              Họ và tên không quá 50 ký tự
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="lastName">Số điện thoại</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Số điện thoại"
            formControlName="phone"
            data-cy="phone"
          />

          <div
            *ngIf="settingsForm.get('phone')!.invalid && (settingsForm.get('phone')!.dirty || settingsForm.get('phone')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('phone')?.errors?.required"> Số điện thoại là bắt buộc </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('phone')?.errors?.minlength">
              Số điện thoại phải có ít nhất 1 ký tự
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('phone')?.errors?.maxlength">
              Số điện thoại không được quá 50 ký tự
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email của bạn"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required"> Email là bắt buộc </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email"> Email không đúng </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">
              Email phải có ít nhất 5 ký tự
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength"> Email không quá 100 ký tự </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="address">Địa chỉ</label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            placeholder="Địa chỉ của bạn"
            formControlName="address"
            data-cy="address"
          />

          <div *ngIf="settingsForm.get('address')!.invalid && (settingsForm.get('address')!.dirty || settingsForm.get('address')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('address')?.errors?.required"> Địa chỉ là bắt buộc </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('address')?.errors?.minlength">
              Địa chỉ phải có ít nhất 5 ký tự
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('address')?.errors?.maxlength"> Địa chỉ không quá 250 ký tự </small>
          </div>
        </div>


        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">Lưu thông tin</button>
      </form>
    </div>
  </div>
</div>
