<div>
  <div class="row justify-content-center">
    <div class="col-md-8" *ngIf="account$ | async as account">
      <h2>
        Mật khẩu cho tài khoản [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Đổi mật khẩu thành công!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>Có lỗi gì đó!</strong> Đổi mật khẩu thất bại.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Mật khẩu không khớp!</div>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="form-group">
          <label class="form-control-label" for="currentPassword">Mật khẩu hiện tại</label>
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="Mật khẩu cũ"
            formControlName="currentPassword"
            data-cy="currentPassword"
          />

          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
              Mật khẩu là bắt buộc.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="newPassword">Mật khẩu mới</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="Mật khẩu mới"
            formControlName="newPassword"
            data-cy="newPassword"
          />

          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required"> Mật khẩu là bắt buộc </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
              Mật khẩu phải có ít nhất 4 ký tự
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
              Mật khẩu không được quá 50 ký tự
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">Xác nhận mật khẩu</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Xác nhận mật khẩu"
            formControlName="confirmPassword"
            data-cy="confirmPassword"
          />

          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              Mật khẩu xác nhận là bắt buộc
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
              Mật khẩu xác nhận phải có ít nhất 4 ký tự
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
              Mật khẩu xác nhận không quá 50 ký tự
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Lưu thông tin</button>
      </form>
    </div>
  </div>
</div>
