<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 data-cy="registerTitle">Đăng ký</h1>

      <div class="alert alert-success" *ngIf="success"><strong>Đăng ký thành công!</strong> Hãy kiểm tra email của bạn.</div>

      <div class="alert alert-danger" *ngIf="error"><strong>Đăng ký thất bại!</strong> Vui lòng thử lại sau.</div>

      <div class="alert alert-danger" *ngIf="errorUserExists"><strong>Tên đăng nhập đã tồn tại!</strong> Hãy chọn một cái tên khác</div>

      <div class="alert alert-danger" *ngIf="errorEmailExists"><strong>Email đã được đăng ký!</strong> Hãy sử dụng một email khác.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Mật khẩu không khớp!</div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="form-group">
          <label class="form-control-label" for="login">Tên đăng nhập</label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="login"
            placeholder="Tên đăng nhập"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required"> Tên đăng nhập là bắt buộc. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
              Tên đăng nhập có ít nhất một ký tự
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
              Tên đăng nhập không quá 50 ký tự
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern">
              Tên đăng nhập chỉ gồm chữ và số
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="email" formControlName="email" data-cy="email" />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"> Email là bắt buộc. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid"> Email không hợp lệ. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength"> Email có tổi thiểu 5 ký tự </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength"> Email không quá 100 ký tự </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="password">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Mật khẩu"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required"> Mật khẩu là bắt buộc. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
              Mật khẩu có tối thiểu 4 ký tự.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
              Mật khẩu có tối đa 50 ký tự.
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">Xác nhận mật khẩu</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Xác nhận mật khẩu"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required">
              Xác nhận mật khẩu là bắt buộc
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
              Xác nhận mật khẩu có tối thiểu 4 ký tự
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
              Xác nhận mật khẩu có tối đa 50 ký tự
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" data-cy="submit">Đăng ký</button>
      </form>

      <div class="mt-3 alert alert-warning">
        <span>Bấm vào đây để </span>
        <a class="alert-link" routerLink="/login">Đăng nhập</a>
      </div>
    </div>
  </div>
</div>
