<div id="menu_area" class="menu-area">
  <div class="row">
    <img src="./../../content/images/banner1.png" style="width: 100%; height: 400px" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 input-search">
        <nz-tree-select
          style="width: 100%; max-width: 100%"
          #tree
          (keydown.enter)="tree.openDropdown()"
          [nzDefaultExpandAll]="true"
          tabindex="0"
          [nzNodes]="nodes"
          [nzPlaceHolder]="placeHolder"
          [(ngModel)]="parentIdSearch"
          (ngModelChange)="onChange($event)"
          nzShowSearch
          [nzShowIcon]="true"
          [ngModelOptions]="{ standalone: true }"
        ></nz-tree-select>
        <button type="button" (click)="search()" class="btn-save" style="margin-left: 10px"><i class="fa fa-search"></i></button>
      </div>
      <div class="col-md-6 input-search">
        <input type="text" placeholder="Nhập thông tin tìm kiếm" style="width: 400px; border-radius: 5px" />
        <button type="button" (click)="search()" class="btn-save" style="margin-left: 10px"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 85px; margin-left: 20px">
  <div>
    <h2>Sản phẩm nổi bật</h2>
    <!-- Tab Contetn Start -->
    <div class="row tab-content">
      <div class="col-md-3" *ngFor="let item of listSpecical">
        <div class="single-product">
          <!-- Product Image Start -->
          <div class="pro-img">
            <img class="primary-img" [src]="item.image" alt="single-product" (click)="routerToDetails(item.id)" />
          </div>
          <!-- Product Image End -->
          <!-- Product Content Start -->
          <div class="pro-content">
            <div class="pro-info">
              <h4 (click)="routerToDetails(item.id)">{{ getName(item.name) }}</h4>
              <p>
                <span class="price">{{ formatCurrency(item.price) }}</span>
              </p>
            </div>
            <div class="pro-actions">
              <div class="actions-primary">
                <button class="btn-save" (click)="addToCart(item, 1)" style="width: 100%" title="Thêm">+ Thêm vào giỏ hàng</button>
              </div>
              <div style="height: 15px"></div>
              <div class="actions-primary">
                <button (click)="routerToDetails(item.id)" class="btn-cancel" style="width: 100%" title="Thêm">Xem chi tiết</button>
              </div>
            </div>
          </div>
          <!-- Product Content End -->
        </div>
      </div>
      <div id="kids" class="tab-pane fade show active">
        <!-- Arrivals Product Activation Start Here -->
        <div class="electronics-pro-active owl-carousel"></div>
        <!-- Arrivals Product Activation End Here -->
      </div>
    </div>
  </div>
  <div *ngFor="let item of listDataMore">
    <div *ngIf="item.length > 0">
      <h2>{{ item[0].catalogName }}</h2>
      <!-- Tab Contetn Start -->
      <div class="row tab-content">
        <div class="col-md-3" *ngFor="let item1 of item">
          <div class="single-product">
            <!-- Product Image Start -->
            <div class="pro-img">
              <img class="primary-img" (click)="routerToDetails(item1.id)" [src]="item1.image" alt="single-product" />
            </div>
            <!-- Product Image End -->
            <!-- Product Content Start -->
            <div class="pro-content">
              <div class="pro-info">
                <h4 (click)="routerToDetails(item1.id)">{{ getName(item1.name) }}</h4>
                <p>
                  <span class="price">{{ formatCurrency(item1.price) }}</span>
                </p>
              </div>
              <div class="pro-actions">
                <div class="actions-primary">
                  <button class="btn-save" (click)="addToCart(item1, 1)" style="width: 100%" title="Thêm">+ Thêm vào giỏ hàng</button>
                </div>
                <div style="height: 15px"></div>
                <div class="actions-primary">
                  <button class="btn-cancel" (click)="routerToDetails(item1.id)" style="width: 100%" title="Thêm">Xem chi tiết</button>
                </div>
              </div>
            </div>
            <!-- Product Content End -->
          </div>
        </div>
        <div id="kids" class="tab-pane fade show active">
          <!-- Arrivals Product Activation Start Here -->
          <div class="electronics-pro-active owl-carousel"></div>
          <!-- Arrivals Product Activation End Here -->
        </div>
      </div>
    </div>
  </div>
</div>
