<div class="modal-dialog-custom">
  <div class="login-form">
    <div class="modal-content">
      <div class="modal-header" style="padding-bottom: 0; flex-direction: column">
        <h4 class="modal-title" style="text-align: center">Import danh sách danh mục sản phẩm</h4>
        <p class="des">Thực hiện upload file danh sách danh mục sản phẩm muốn thêm vào hệ thống</p>
      </div>
      <div class="modal-body" style="padding: 15px 10px 0 10px !important">
        <div class="row">
          <div class="title-list-file">
            <p class="filedemo1" style="font-size: 14px">File danh sách</p>
            <div>
              <p>Tải file mẫu</p>
              <a (click)="downloadSampleFile()" style="cursor: pointer" tabindex="0" class="filedemo" (keyup.enter)="downloadSampleFile()"
                >[Bấm để tải]</a
              >
            </div>
          </div>
          <div class="container-upload row w-100" style="width: 110px">
            <button type="button" class="btn-md btn-gray" tabindex="0" style="width: 110px">
              <input id="upload-file" #myInput type="file" (change)="onFileInput($event)" style="display: none" />
              <label
                class="btn-md btn-gray btn-import inport-file"
                for="upload-file"
                style="
                  color: #ffffff;
                  margin: 0;
                  cursor: pointer;
                  background: #3366ff;
                  text-align: center;
                  padding-top: 3px;
                  height: 28px;
                  width: 110px;
                "
              >
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.69882 7.5628L6.29258 5.45342C6.16212 5.25771 5.83801 5.25771 5.70755 5.45342L4.30131 7.5628C4.22954 7.67061 4.2227 7.80931 4.2838 7.92364C4.3449 8.03797 4.46403 8.10938 4.59381 8.10938H4.94537V10.5703C4.94537 10.7646 5.10261 10.9219 5.29693 10.9219H6.70318C6.8975 10.9219 7.05474 10.7646 7.05474 10.5703V8.10938H7.4063C7.53607 8.10938 7.65521 8.03797 7.71633 7.92364C7.77746 7.80931 7.77056 7.67061 7.69882 7.5628Z"
                    fill="white"
                  />
                  <path
                    d="M10.206 4.11183C10.1751 3.69169 10.0045 3.29975 9.70413 2.99935C9.24981 2.54503 8.56588 2.40917 7.96511 2.57689C7.38742 1.64796 6.39362 1.07812 5.29689 1.07812C3.64824 1.07812 2.29041 2.34532 2.14861 3.98642C0.918471 4.29713 0 5.41738 0 6.70314C0 8.25393 1.28515 9.51564 2.83594 9.51564H4.2422V8.75245C3.99774 8.66627 3.79004 8.49152 3.66369 8.25496C3.48001 7.91197 3.50026 7.49725 3.71588 7.17315L5.12249 5.06342C5.31439 4.77537 5.64261 4.60372 6.00001 4.60372C6.35741 4.60372 6.68563 4.77537 6.87754 5.06342L8.28379 7.1728C8.49974 7.49725 8.51999 7.91197 8.33631 8.25496C8.20996 8.49152 8.00226 8.66627 7.7578 8.75245V9.51564H9.16406C10.7148 9.51564 12 8.25393 12 6.70314C12 5.54286 11.2722 4.53645 10.206 4.11183Z"
                    fill="white"
                  />
                </svg>
                Tải file
              </label>
            </button>
            <span style="color: #696f8c">File có định dạng xlsx, xls, có dung lượng nhỏ hơn 5MB</span>
          </div>
          <div class="info-file" *ngIf="uploaded">
            <div class="file-name">{{ nameFile }}</div>
            <div class="delete-file" (click)="deleteFile()" tabindex="0" (keyup.enter)="deleteFile()">Xóa file</div>
          </div>
          <div class="prosess-bar" *ngIf="uploaded"></div>
          <div class="size-file" *ngIf="uploaded">{{ sizeFile }} Byte (Đã tải lên 100%)</div>
          <div class="result-import w-100" *ngIf="isImported && uploaded">
            <div class="result-import--success w-100">
              <div>
                Thành công: <span style="color: #52bd94">{{ totalSuccess }}/{{ totalRecord }}</span> bản ghi
              </div>
              <a (click)="downloadErrorFile()" *ngIf="isImported && totalError !== 0" tabindex="0"> [Bấm để tải file import lỗi] </a>
            </div>
            <div class="result-import--error">
              <div>
                Thất bại: <span style="color: #d14343">{{ totalError }}/{{ totalRecord }}</span> bản ghi
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="padding-top: 0">
        <div class="type-action" style="padding: 18px 10px 0 10px; display: flex; justify-content: space-between; width: 100%">
          <label class="container-radio" style="font-size: 12px"
            >Thêm mới danh mục
            <input type="radio" name="aa" [value]="1" [(ngModel)]="isAddNew" />
            <span class="checkmark"></span>
          </label>
          <label class="container-radio" style="font-size: 12px"
            >Cập nhật thông tin danh mục
            <input type="radio" name="aa" [value]="0" [(ngModel)]="isAddNew" />
            <span class="checkmark"></span>
          </label>
        </div>
        <br /><br /><br />
        <!--        class="btn-md btn-or"-->
        <button class="btn-md btn-gray" (click)="onDismiss()" (keyup.enter)="onDismiss()">Hủy bỏ</button>
        <button
          [ngClass]="disableImport ? 'btn-md btn-or classDisable' : 'btn-md btn-or classActive'"
          [disabled]="disableImport"
          type="button"
          tabindex="0"
          (keyup.enter)="importFile()"
          (click)="importFile()"
        >
          Import
        </button>
      </div>
    </div>
  </div>
</div>
