.row {
  margin: 0px 15px;
}

.row.afu-valid-file.ng-star-inserted {
  margin-left: 12px;
}
.witget-title {
  border-radius: 8px 8px 0px 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 52px;
  text-transform: uppercase;
  color: #101840;
  height: 52px;
  padding-left: 20px;
}
.menu-action-dv {
  border-bottom: 1px solid #e6e8f0;
  box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
  font-weight: bold;
  color: #101840;
  display: flex;
  height: 52px;
}
.list-action-dv {
  display: flex;
  margin-left: auto;
}
.btn-action-dv {
  display: flex;
  align-items: center;
  width: 98px;
  height: 32px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-left: 15px;
  svg {
    margin-right: 10px;
  }
}
.btn-action-dv.blue {
  background: #3366ff;
}
.btn-action-dv.gray {
  background: #696f8c;
}
.menu-action-dv h3 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #101840;
  padding-top: 14px;
}
.search-dv label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #474d66;
}
.search-dv input {
  background: #ffffff;
  border: 1px solid #d8dae5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
}
.search-dv button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  height: 40px;
  background: #f26522;
  border-radius: 4px;
  color: #fff;
  border: none;
  justify-content: center;
  font-weight: 600;
}
.search-dv {
  margin-top: 20px !important;
  align-items: flex-end;
}
.search-dv > div {
  display: flex;
  flex-direction: column;
}
.search-dv input {
  width: 100%;
  padding-left: 10px;
}
.ag-row-odd {
  background: #f9fafc;
}
.ft-table-school {
  display: flex;
  justify-content: space-between;
}
.ft-table-school ul {
  display: flex;
  list-style: none;
}
.list-dv-sc {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
.list-dv-sc li {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #474d66;
  text-transform: uppercase;
  border-top: 1px solid #f4f6fa;
  padding: 15px 20px;
}
.col-iner {
  border: 1px solid #e6e8f0;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
  border-radius: 10px;
}
.addnew-unit-md {
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.06);
  border-radius: 16px !important;
}
.modal-dialog-custom label {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #474d66;
}
.modal-dialog-custom .row > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  span {
    color: red;
  }
  textarea {
    height: 76px;
    background: #ffffff;
    border: 1px solid #d8dae5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
  }
}
.modal-dialog-custom .row {
  margin: 0px;
}
.btn-md {
  width: 105px;
  height: 32px;
  left: 726px;
  top: 785px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border: none;
}

.btn-gray {
  background: #e6e8f0;
  margin-right: 10px;
  color: #696f8c;
}
.btn-or {
  background: #f26522;
}
.modal-footer {
  display: flex;
  justify-content: center;
}
.modal-title {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600 !important;
  width: 100%;
}
.des {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #8f95b2;
  margin-top: 10px;
}

.modal-dialog-custom .title-list-file {
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  p {
    font-weight: 600;
    font-size: 12px;
    color: #474d66;
    margin-bottom: 0px;
  }
  a {
    font-weight: 600;
    font-size: 12px;
    color: #3366ff;
    margin-left: 5px;
  }
  div {
    display: flex;
    align-items: center;
  }
}
angular-file-uploader,
#div1 {
  width: 100%;
}

.afu-select-btn.ng-star-inserted {
  margin-top: 100px;
}

.container-upload {
  display: flex;
  height: 104px;
  flex-direction: column;
  justify-content: space-around;
  background: #ffffff;
  border: 1px dashed #d8dae5;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
}

.container-upload button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 16px;
  background: #3366ff;
  border-radius: 4px;
}

.container-upload span {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #696f8c;
}
.info-file {
  width: 100%;
  justify-content: space-between;
  flex-direction: row !important;
  margin-bottom: 0px !important;
}
.file-name {
  font-weight: 600;
  font-size: 14px;
  color: #474d66;
  flex: 3;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info-file .delete-file {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: right;
  color: #d14343;
  cursor: pointer;
  flex: 1;
}
.prosess-bar {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px !important;
  height: 6px;
  background: #52bd94;
  border-radius: 100px;
}
.size-file {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #8f95b2;
  margin-bottom: 0px !important;
}

:host ::ng-deep {
  .mat-form-field-wrapper {
    padding: 0;
    .mat-form-field-infix {
      margin-top: 4px;
      border: 0;
    }
  }

  //input outline color
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background: #ffffff;
    border: 1px solid #d8dae5;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .mat-form-field-appearance-outline.mat-form-field-disabled {
    color: rgba(0, 0, 0, 0.6) !important;
  }
}

.result-import--success {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #3366ff;
    cursor: pointer;
  }
}

::ng-deep.mat-form-field-disabled {
  background-size: 1px 100% !important;
  .mat-input-element {
    color: rgba(0, 0, 0, 0.14);
  }
}

.btn-gray:focus {
  border: 2px solid #bdc3c7 !important;
}

.filedemo:focus {
  border: 2px solid #70a3a5;
}
.filedemo1:focus {
  border: 1px solid #ffffff;
}

//============================== Radio custom ===========================
/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-weight: 600;
  font-size: 12px;
  color: #474d66;
}

/* Hide the browser's default checkbox */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #d8dae5;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
}

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background: url('./../../../../content/images/radiocheck.svg');
  background-repeat: no-repeat;
  background-position-x: 28%;
  background-position-y: 0px;
  outline: none;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-radio:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.classActive:hover {
  cursor: pointer;
  opacity: 0.7;
}

.classDisable {
  cursor: default;
  opacity: 0.7;
}

.btn-import:focus {
  border: 1px solid #007eff !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

.inport-file:focus-visible {
  outline: none;
}
